Link, a{
  color: inherit;
  text-decoration: none !important;
}
.qna-models-row .scenario-number {
  margin-bottom: -6px;
}
.models-row .model-card .card-body-inner .model-name {
  margin-top: 5px;;
  line-height: 30px;
  font-size: 25px;
}
.models-row .model-card .card-body-inner:hover .model-name {
  color: #FF7270;
}

.qna-model-name{
  height: 60px;
  overflow: hidden;
}


.model-info.model-description{
  height: 90px;
  overflow: hidden;
}

.model-card .card-body{
  position: relative;
}

.modal-title{
  font-size: 25px;
}
.modal-content .step-counter-text {
  font-size: 12px;
}

.creation-progress-wrapper{
  height: 35px;
}
.creation-progressbar{
  height: 3px;
}
