Link, a{
  color: inherit;
  text-decoration: none !important;
}
.qna-models-row .scenario-number {
  margin-bottom: -6px;
}

.models-row .model-card .card-body-inner .model-name {
  margin-top: 5px;;
  line-height: 30px;
  font-size: 25px;
}
.models-row .model-card .card-body-inner:hover .model-name {
  color: #FF7270;
}
